body{
    background-image: url(images/ice\ cream\ cake.jpg);
    background-size:cover;
    width: 200;
    width: 500px;
    padding-left: 500px;
}
.special-offer {
    background-color:purple;
    color:blanchedalmond;
    text-align: center;
    padding-left: 100px;
    border-radius: 5px;




    
}

 



